

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-image: url("/static/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    background-color: #12acdf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

  .navbar {
    background-color: #0a7b0a;
    overflow: hidden;
    height: 100px;
    margin-top: 10px;
  }
  
  .navbar-brand {
    float: left;
    display: inline-block;
    padding: 14px 20px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-brand img {
    height: 150x; /* Adjust height as needed */
  }
  
  .navbar-links {
    float: right;
  }
  
  .navbar-links a {
    display: inline-block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
  }